name: 'Deploy Prod - App: Web'
on:
  workflow_call:
    inputs:
      environment:
        description: 'Target environment when called by another workflow'
        required: true
        type: string
jobs:
  deploy-prod:
    name: 'Deploy - Prod'
    if: startsWith(github.ref, 'refs/heads/release') || startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
      pull-requests: write
      packages: write
      id-token: write
    runs-on: [self-hosted, linux, x64, core]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: https://npm.pkg.github.com/
          always-auth: true
      - name: Install dependencies
        run: npm install --prefer-offline --no-audit --progress=false
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PACKAGES_TOKEN }}
      - name: Create .env file
        run: |
          echo "REACT_APP_CLIENT_ID=${{ secrets.LOGIN_CLIENTID_PROD }}" >> .env
          echo "REACT_APP_TENANT_ID=${{ secrets.LOGIN_TENANTID }}" >> .env
      - name: Build artifacts
        run: npm run build-prod
        env:
          REACT_APP_CLIENT_ID: ${{ secrets.LOGIN_CLIENTID_PROD }}
          REACT_APP_TENANT_ID: ${{ secrets.LOGIN_TENANTID}}
      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID_PROD }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID_PROD }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID_PROD }}
      - name: Deploy static website to Azure
        env:
          STORAGE_ACCOUNT: ${{ vars.AZURE_FA_KENTE_IAM_COLLECTIVE_ST }}
        run: |
          echo "Deploying to prod environment"
          echo "Deploying to $STORAGE_ACCOUNT"

          az storage blob upload-batch \
          --account-name $STORAGE_ACCOUNT \
          --destination '$web' \
          --source ./dist \
          --overwrite true
      - name: Notify deployment
        run: |
          echo "Deployment to production is complete."
