name: Test accessibility and performance
on:
  schedule:
    # Runs every Monday at 06:00 UTC
    - cron: '0 6 * * 1'
jobs:
  lhci:
    name: Accessibility, SEO, Performance, Best-practices
    runs-on: 'ubuntu-latest'
    permissions:
      contents: read
      actions: read
    if: github.actor != 'dependabot[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.release.target_commitish }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: https://npm.pkg.github.com/
          always-auth: true
      - name: Install CLI dependencies
        run: npm install --prefer-offline --no-audit --progress=false
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PACKAGES_TOKEN }}
      - name: Build artifacts
        run: npm run build
      - name: Run Lighthouse CI
        run: npm run lighthouse:ci
        env:
          LHCI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Save lighthouse report
        uses: actions/upload-artifact@v5
        with:
          name: lighthouse-report
          path: .lighthouseci
