name: 'Dependabot CI'
permissions:
  contents: read
on:
  pull_request:
    branches: [main]
jobs:
  check-dependabot:
    name: 'Test Dependabot PR'
    runs-on: 'ubuntu-latest'
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: https://npm.pkg.github.com/
          always-auth: true
      - name: Install dependencies
        run: npm install --prefer-offline --no-audit --progress=false
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PACKAGES_TOKEN }}
      - name: Check format
        run: npm run format:check
      - name: Check lint
        run: npm run lint:check
      - name: Check tests
        run: npm test
      - name: Check build
        run: npm run build
  auto-merge:
    name: 'Auto-merge Dependabot changes'
    runs-on: 'ubuntu-latest'
    needs: check-dependabot
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - name: Automatically merge dependabot upgrades
        uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          github-token: ${{ secrets.PACKAGES_TOKEN }}
