name: 'Release - Build'
on:
  workflow_call:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        type: choice
        options: [dev, test, uat, prod]
        default: dev
jobs:
  build-artifacts:
    name: 'Release - Build Artifacts'
    runs-on: [self-hosted, linux, x64, core]
    permissions:
      contents: read
      actions: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: https://npm.pkg.github.com/
          always-auth: true
      - name: Install dependencies
        run: npm install --no-audit --progress=false
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PACKAGES_TOKEN }}
      - name: Build artifacts
        run: npm run build-dev
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v5
        with:
          name: fakenteiamcollective-web
          path: dist/
  release-deploy-dev:
    name: 'Release - Deploy: Dev'
    needs: build-artifacts
    if: >
      (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/'))
      || (github.event.inputs.environment == 'dev' || inputs.environment == 'dev')
    uses: ./.github/workflows/deploy-web-app-dev.yml
    with:
      environment: ${{ github.event.inputs.environment }}
    permissions:
      contents: write
      pull-requests: write
      packages: write
      id-token: write
    secrets: inherit
  release-deploy-test:
    name: 'Release - Deploy: Test'
    needs: build-artifacts
    if: >
      (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/'))
      || (github.event.inputs.environment == 'test' || inputs.environment == 'test')
    uses: ./.github/workflows/deploy-web-app-test.yml
    with:
      environment: ${{ github.event.inputs.environment }}
    permissions:
      contents: write
      pull-requests: write
      packages: write
      id-token: write
    secrets: inherit
  release-deploy-uat:
    name: 'Release - Deploy: UAT'
    needs: build-artifacts
    if: >
      (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/'))
      || (github.event.inputs.environment == 'uat' || inputs.environment == 'uat')
    uses: ./.github/workflows/deploy-web-app-uat.yml
    with:
      environment: ${{ github.event.inputs.environment }}
    permissions:
      contents: write
      pull-requests: write
      packages: write
      id-token: write
    secrets: inherit
  release-deploy-prod:
    name: 'Release - Deploy: Prod'
    needs: build-artifacts
    if: >
      (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/'))
      || (github.event.inputs.environment == 'prod' || inputs.environment == 'prod')
    uses: ./.github/workflows/deploy-web-app-prod.yml
    with:
      environment: ${{ github.event.inputs.environment }}
    permissions:
      contents: write
      pull-requests: write
      packages: write
      id-token: write
    secrets: inherit
